@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 211 100% 21%;

    --card: 0 0% 100%;
    --card-foreground: 211 100% 21%;

    --popover: 0 0% 100%;
    --popover-foreground: 211 100% 21%;

    --primary: 144 100% 33%;
    --primary-foreground: 0 0% 100%;

    --secondary: 144 30% 96%;
    --secondary-foreground: 211 100% 21%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 144 100% 33%;
    --accent-foreground: 211 100% 21%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 211 100% 21%;

    --radius: 0.5rem;

    --sidebar-background: 144 30% 96%;
    --sidebar-foreground: 211 100% 21%;
    --sidebar-primary: 144 100% 33%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 144 30% 96%;
    --sidebar-accent-foreground: 211 100% 21%;
    --sidebar-border: 144 30% 90%;
    --sidebar-ring: 144 100% 33%;
  }

  .dark {
    --background: 211 100% 21%;
    --foreground: 0 0% 100%;

    --card: 211 100% 21%;
    --card-foreground: 0 0% 100%;

    --popover: 211 100% 21%;
    --popover-foreground: 0 0% 100%;

    --primary: 144 100% 33%;
    --primary-foreground: 0 0% 100%;

    --secondary: 144 30% 26%;
    --secondary-foreground: 0 0% 100%;

    --muted: 144 30% 26%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 144 30% 26%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 144 30% 26%;
    --input: 144 30% 26%;
    --ring: 144 100% 33%;

    --sidebar-background: 211 100% 21%;
    --sidebar-foreground: 144 30% 96%;
    --sidebar-primary: 144 100% 33%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 211 30% 26%;
    --sidebar-accent-foreground: 144 30% 96%;
    --sidebar-border: 211 30% 26%;
    --sidebar-ring: 144 100% 33%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}